body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark header {
  background-color: #000000;
  color: #ffffff;
}

body.dark .sidebar {
  background-color: #1e1e1e;
}

body.dark .sidebar h2 {
  color: #ffffff;
}

body.dark .sidebar a {
  color: #ffffff;
}
